.main {
    width: 1440px;
    background-color: #F7F9FB;    
}

.main__content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.navigation{
    width: 100%;
    /* position: fixed; */
    display: flex;

    background-color: yellow;
    border-width: 25px;
    border-color: black;
    text-align: center;
}

.nav_logo{
    background-color: #FFFFFF;
    width: 130px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.nav_logo img {
    size: 50%;
    width: 46px;
    height: 46px;
}
.nav_items{

}

.container{
    display: grid;
    justify-content: center;
    text-align: center;

    grid-template-columns: 80%;
    grid-row-gap: 25px;
    grid-template-rows: 360px 100px 170px 335px 220px 345px 195px 195px;

}
.content_profile{   
    background-color: aqua;
}
.content_tabs{
    background-color: aqua;
}
.content_about{
    background-color: aqua;
}
.content_project{
    background-color: aqua;
}
.content_skills{
    background-color: aqua;
}
.content_experience{
    background-color: aqua;
}
.content_experience2{
    background-color: aqua;
}

.sidebar{
    background-color: blue;
    
    display: grid;

    grid-template-rows: ;
}

.footer{
    background-color: green;
    border-width: 5px;
    border-color: black;
    text-align: center;
}