
.app {
  background-color: #F7F9FB;
  width: 100%;
}

.app__body {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  column-gap: 100px;
  margin: 20px 20%;
  /* background-color: #E5E5E5; */
}

